@import 'vars';

.ProductList-container {
  position: relative;
}

.ProductList-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
  margin: 6em 0 0 0;
}

@media (max-width: 640px) {
  .ProductList-cards {
    grid-template-columns: repeat(auto-fill, 140px);
  }
}
